/.venv
/.vscode
/werk
*.pyc
__pycache__
dist
.env
*.log
ball
quotes
!*.ipynb
VU/math_102_questions
VU/math_102_final_questions
VU/chroma_dir
VU/math_102_app_questions
podcast/audios/LexFridman
podcast/audios/TacticsFC
VU/.logfire