/.venv
/.vscode
/werk
*.pyc
__pycache__
dist
.env
*.log
ball
quotes
!*.ipynb
VU/math_102_questions
VU/math_102_final_questions
VU/chroma_dir
VU/math_102_app_questions
podcast/audios/LexFridman
podcast/audios/TacticsFC
VU/.logfire
JOB/chroma_dir
JOB/user_profiles
JOB/job_posts
JOB/data
*.png
VU/dai_slides_drive_creds.json
VU/dai_slides_drive_tokens.json
VU/dai_slides_tokens.json
VU/slides_creds.json
VU/slides_tokens.json
VU/dai_slides_creds.json